* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(150deg, #B2FEFA, #0ED2F7);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 450px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container .input-data {
  height: 40px;
  width: 100%;
  position: relative;
}

.container .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.container .input-data input:focus ~ label,
.container .input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 16px;
  color: #7c1aed; 
}

.container .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.container .input-data .animation {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.container .input-data .animation:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #7c1aed;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.container .input-data input:focus ~ .animation:before,
.container .input-data input:valid ~ .animation:before {
  transform: scaleX(1);
}